################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColorWar
/OtterLibrary/.vs/OtterLibrary
/OtterLibrary/bin/Debug/net9.0
/OtterLibrary/obj
